In [26]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [64]:
import webbrowser
website='https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

### Copy the first few rows of the table

In [30]:
nfl_frame = pd.read_clipboard()

In [32]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East

In [36]:
# List the coloumn names
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied[c]', 'Pct.',
       'First NFL season', 'Division'],
      dtype='object')

In [38]:
# Call columns
nfl_frame['First NFL season']

0    1960
1    1921
2    1996
3    1920
4    1960
Name: First NFL season, dtype: int64

In [40]:
DataFrame(nfl_frame,columns=['Team','First NFL season'])

                   Team  First NFL season
0        Dallas Cowboys              1960
1     Green Bay Packers              1921
2      Baltimore Ravens              1996
3         Chicago Bears              1920
4  New England Patriots              1960

In [78]:
# What happens when we call a non existing column
DataFrame(nfl_frame, columns=['Team','First NFL season','Stadium'])

                   Team  First NFL season         Stadium
0        Dallas Cowboys              1960  Levi's Stadium
1     Green Bay Packers              1921  Levi's Stadium
2      Baltimore Ravens              1996  Levi's Stadium
3         Chicago Bears              1920  Levi's Stadium
4  New England Patriots              1960  Levi's Stadium

In [80]:
nfl_frame.head(2)

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,Levi's Stadium

In [82]:
nfl_frame.tail(2)

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,Levi's Stadium
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,Levi's Stadium

In [84]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,Levi's Stadium
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,Levi's Stadium
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,Levi's Stadium
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,Levi's Stadium

In [86]:
nfl_frame.iloc[3]

Rank                             4
Team                 Chicago Bears
GP                           1,469
Won                            793
Lost                           634
Tied[c]                     42 (1)
Pct.                         0.556
First NFL season              1920
Division                 NFC North
Stadium             Levi's Stadium
Name: 3, dtype: object

In [90]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [92]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,Levi's Stadium
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,Levi's Stadium
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,Levi's Stadium
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,Levi's Stadium

In [102]:
nfl_frame['Stadium'] = np.arange(5)

In [104]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,0
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,1
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,2
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,3
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,4

In [118]:
## Add a series to a dataframe
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index=[5,0])

In [120]:
stadiums

5    Levi's Stadium
0      AT&T Stadium
dtype: object

In [122]:
## how to input it into the dataframe
nfl_frame['Stadium'] = stadiums

In [124]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,NaN
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,NaN
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,NaN
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,NaN

In [126]:
## delete a column
del nfl_frame['Stadium']

In [128]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East

## Construct dataframe by passing in dictionaries

In [131]:
data = {'City':['SF', 'LA', 'NYC'], 'Population':[837000, 380000, 84000000]}

In [133]:
city_frame = DataFrame(data)

In [135]:
city_frame

  City  Population
0   SF      837000
1   LA      380000
2  NYC    84000000

## More on creating dataframes

In [142]:
dataframesWebsite = 'https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.html'
webbrowser.open(dataframesWebsite)

True