In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
import webbrowser
website='https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [5]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6,0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38,0.570,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,New England Patriots,983,541,433,9,0.555,1960,AFC East
4,5,Chicago Bears,"1,469",793,634,42,0.554,1920,NFC North

In [6]:
# List the coloumn names
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [7]:
# Call columns
nfl_frame['First NFL season']

0    1960
1    1921
2    1996
3    1960
4    1920
Name: First NFL season, dtype: int64

In [8]:
DataFrame(nfl_frame,columns=['Team','First NFL season'])

                   Team  First NFL season
0        Dallas Cowboys              1960
1     Green Bay Packers              1921
2      Baltimore Ravens              1996
3  New England Patriots              1960
4         Chicago Bears              1920

In [9]:
# What happens when we call a non existing column
DataFrame(nfl_frame, columns=['Team','First NFL season','Stadium'])

                   Team  First NFL season  Stadium
0        Dallas Cowboys              1960      NaN
1     Green Bay Packers              1921      NaN
2      Baltimore Ravens              1996      NaN
3  New England Patriots              1960      NaN
4         Chicago Bears              1920      NaN

In [10]:
nfl_frame.head(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6,0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38,0.570,1921,NFC North

In [11]:
nfl_frame.tail(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
3,4,New England Patriots,983,541,433,9,0.555,1960,AFC East
4,5,Chicago Bears,"1,469",793,634,42,0.554,1920,NFC North

In [12]:
nfl_frame.ix[2]

AttributeError: 'DataFrame' object has no attribute 'ix'