In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
print('Import successful')

Import successful

In [3]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
# create a series
ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [8]:
ww2_cas['USA']

400000

In [10]:
# check which countries has casualties(cas) greater than 4 million
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [11]:
'USSR' in ww2_cas

True

In [13]:
# convert a series into a dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [14]:
# Convert dictionary to series
ww2_series = Series(ww2_dict)
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [15]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [17]:
obj2 = Series(ww2_dict, index = countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [18]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [19]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [20]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [21]:
# name the series
obj2.name = "World War II Casualties"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War II Casualties, dtype: float64

In [22]:
# naming the index
obj2.index.name = 'Countries'
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War II Casualties, dtype: float64